@media screen and (min-width: 301px) and (max-width: 680px) {
  h1 {
    font-size: 1em;
    padding: 10px;
  }
  .game {
    padding: 0;

    display: block;
    margin: 0 auto;
  }
  .instructions {
    margin: 0 auto;
 display:block;
    text-align: center;
    width: 90%;
    position:relative;

  }
  .introduction {

    text-align: center;
  }

  .grid{
margin-top:50px;

  }
  .eco {
    display:none;
  }
  .narciso {

    display:block;
    position:absolute;
    top:-55px;
    z-index:-1;

  }
  .start {
    padding: 12px;
    font-size: 1.2em;
    margin-bottom: 55px;
    background-color: var(--greyblue);
    font-weight: 400;
    letter-spacing: 2px;
  }
  .footer {
    font-size: 0.6em;
    text-align: center;
  }
  .scoreContainer {
    display: flex;
    left: 0px;
    background-color: var(--bege);
    padding: 0px;
    margin: 0px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: -140px;
  }
  .score-panel h3 {
    display: none;
  }
  .score-panel {
    display: flex;
    flex-direction: row;
    font-size: 0.8em;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .starsBoard {
    padding-bottom: 0px;
    padding-right: 20px;
  }
  .stars li {
    padding: 0 2px;
  }
  .score-panel .restart {
    font-size: 1.2em;
    padding-top: 0px;
    margin-top: -2px;
  }
  .score-panel .movescount {
    padding: 0px;
    padding-right: 20px;
    color: var(--offwhite);
  }
  .moves {
    padding-right: 2px;
  }
  .score-panel .timer {
    padding-bottom: 0px;
    padding-right: 20px;
  }
  .scoreStyle {
    padding: 0px;
  }
  .deck {
    width: 340px;
    min-height: 340px;
    background: var(--greyblue);
    padding: 10px;
    margin: 0;
  }
  .deck .card {
    height: 65px;
    width: 65px;
  }
  .deck .card img {
    height: 65px;
    width: 65px;
  }
  .celebrate {
    margin-left: 10px;
    font-size: 2em;
    font-family: "Open sans", sans-serif;
    position: absolute;
    left: 180px;
    top: 430px;
  }
  /* Modal Content */
  .modal {
    background: linear-gradient(rgba(195, 189, 167, 0.6), rgba(195, 189, 167, 0.8), rgba(195, 189, 167, 0.6)), url("../img/Eco-Narciso-screensaver-phone.jpg") center no-repeat;
    padding: 0;
    height: 100%;
  }
  .modal-content {
    margin: 0 auto;
    width: 100%;
  }
  .modal-box {
    display: block;
  }
  .modal-img {
    display: none;
  }
  .modal-score {
    max-width: 100%;
    margin: 0;
  }
  .modal-score h3 {
    font-size: 0.8em;
    width: 300px;
  }
  .modal-score p {
    font-size: 0.7em;
  }
  .download {
    text-align: center;
    padding: 10px 0px;
  }
  .fa-arrow-alt-circle-down {
    font-size: 1.8em;
    color: var(--offwhite);
  }
  #modScoreStars {
    padding: 0;
    margin: 0;
    font-size: 1em;
    margin-top: -10px;
  }
  #starstar {
    display: inline-flex;
    list-style-type: none;
  }
  ul {
    text-decoration: none;
  }
  .modalButton {
    width: 150px;
    height: 30px;
    margin: 10px;
    font-size: 0.7em;
    color: var(--greyblue);
  }
  a {
    text-decoration: underline;
    color: inherit;
  }
  /* The Close Button */
  .close {
    display: block;
    position: absolute;
    top: 10px;
    left: 290px;
  }
    /* css made up emoji celebrates match */
  .container2 {
    transform: scale(0.4);
  }

}
@media screen and (min-width: 681px) and (max-width: 1230px) {

  h1 {
    font-size: 1.8em;
    padding: 10px;
  }
  .scoreContainer {
    position: absolute;
    left: 10px;
    top: -500px;
    background-color: var(--greyblue);
    padding: 20px;
    width: 160px;
  }
  .score-panel h3 {
    padding: 30px 0px 50px 0px;
    font-size: 1em;
  }
  .celebrate {
    position: absolute;
    left: 850px;
    top: 420px;
  }
  .narciso {
    width: 30%;
  }
  .eco {
    width: 30%;
  }
  .instructions {
    width: 40%;
  }
}
